@font-face {
    font-family: 'kanitblack';
    src: url('../fonts/kanit-black-webfont.woff2') format('woff2'),
         url('../kanit-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kanitblack_italic';
    src: url('../fonts/kanit-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/kanit-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kanitbold';
    src: url('../fonts/kanit-bold-webfont.woff2') format('woff2'),
         url('../fonts/kanit-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kanitbold_italic';
    src: url('../fonts/kanit-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/kanit-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kanitextrabold';
    src: url('../fonts/kanit-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/kanit-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kanitextrabold_italic';
    src: url('../fonts/kanit-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/kanit-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kanitextralight';
    src: url('../fonts/kanit-extralight-webfont.woff2') format('woff2'),
         url('../fonts/kanit-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kanitextralight_italic';
    src: url('../fonts/kanit-extralightitalic-webfont.woff2') format('woff2'),
         url('../fonts/kanit-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kanititalic';
    src: url('../fonts/kanit-italic-webfont.woff2') format('woff2'),
         url('../fonts/kanit-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'kanitlight';
    src: url('../fonts/kanit-light-webfont.woff2') format('woff2'),
         url('../fonts/kanit-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kanitlight_italic';
    src: url('../fonts/kanit-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/kanit-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kanitmedium';
    src: url('../fonts/kanit-medium-webfont.woff2') format('woff2'),
         url('../fonts/kanit-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}